body {
  display: wrap;
  box-sizing: border-box;
  font-family: "Bona Nova", serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Oxygen", sans-serif;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
#span {
  color: tomato;
}
.navbar {
  background-color: #f7ede2;
  padding: 10px;
  width: 100%;
  display: flex;
}

#nav-title,
#nav-title a {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
}

#nav {
  background-image: linear-gradient(greenyellow, orange);
  border-radius: 15px;
  width: 50%;
  font-size: 30px;
}
#nav h2 {
  margin-left: 40px;
}

/* header part starts from here */

.head {
  width: 100%;
  display: flex;
}
.head-title {
  width: 50%;
  font-weight: 600px;
  margin-left: 120px;
  text-align: center;
}
.head-title h1 {
  font-size: 50px;
}

.linkedin {
  text-decoration: none;
  font-weight: bold;
  padding: 20px 40px;
  background-image: linear-gradient(orange, rgb(107, 231, 169));
  border-radius: 20px;
}
.head-img {
  width: 50%;
  margin: 20px;
  padding: 5px;
}

/* About Section Start from here  */

.intro {
  display: flex;
  width: 100%;
  background-image: url("./images/bg1.png");
  background-repeat: no-repeat;
  margin-top: 10px;
}

.intro-img {
  width: 50%;
  margin-left: 100px;
}

.about {
  text-align: justify;
  width: 50%;
  margin-top: 150px;
  margin-right: 150px;
  padding: 20px;
}

/*Recipie Starts from here*/

.description {
  text-align: center;
  margin-bottom: 50px;
}
.description h1 {
  font-size: 50px;
}

/* Card items starts here */
.items {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.card {
  padding: 10px;
  box-shadow: 0px 10px 10px 10px rgb(166, 240, 70);
  border-radius: 10px;
  width: 20%;
}
.shadow {
  box-shadow: 0px 10px 10px 10px rgb(253, 125, 39);
}

#food-img {
  width: 100%;
  border-radius: 15px;
}
#card-title {
  text-align: justify;
}

.recipie {
  margin-bottom: 80px;
}

/* followers starts here */
.followers {
  width: 50%;
  margin-left: 20%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 10px 10px 10px rgb(146, 134, 140);
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.followers h1 {
  font-size: 30px;
}
/* 
footer starts here */

.foot {
  background-color: #023047;
  text-align: center;
  width: 100%;
  color: white;
  padding: 5px;
  margin-top: 25px;
}
.foot a,
.foot p {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  padding: 10px;
}
